:root {
    font-family: 'Acme', sans-serif;
}

body {
    
    background: rgb(228,231,232);
    background: linear-gradient(90deg, rgba(228,231,232,1) 10%, rgba(237,240,171,1) 100%);}

h1 {
    color: black;
    text-align: center;
}

.btn {
    
    margin: 10px 10px 10px 10px;
    box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ded17c;
    width: 42vmax;
    text-align: center;
}
.btn:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.sbmt-hs-btn {
    color: blue;
}

#intro {
text-align: center;
border-style: solid;
}

#instructions {
    margin-left: 10vmin;
    margin-right: 10vmin;
    /* -webkit-animation: fadein 5s; */
    text-align: center;
    font-size: 2em;
}

/* @keyframes fadein {
    from { opacity: 0;}   didn't look good the second time around
    to { opacity: 1}
} */
#cube {
    max-width: 60px;
}

#startingButtonContainer {
text-align: center;
    
}
#actualQuestion {
    margin-top: 20vmin;
    text-align: center;
    font-size: 5vmin;
}
#buttonContainer {
    text-align: center;
    margin-top: 5vmin;
}

#nameAndScore {
    font-size: 3vmin;
}